{% extends 'base.html' %}
{% block menu %}
    <li><a href="{% url 'photos:photo_add' %}">Add Photo</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'photos:album_create' %}">Create album</a></li>
    {% endif %}
{% endblock %}



{% block content %}




    <div class=".bg-light">
        <h1 class="main_title">Photos</h1>
        {% for photo in photos %}
            <div class="guest_card card border-dark mb-5" style="max-width: 18rem;">
              <div class="card-header">

                  <span>Подпись фото: <a href="{% url 'photos:photo_view' photo.pk %}">{{ photo.sign }}</a></span>
                  <div> Автор: {{ photo.author_photo }}</div>
                  <div> Дата: {{ photo.created_at }}</div>


    <div> Добавить/убрать из избранного </div>
    {% if photo.pk in favorite_photos and user.is_authenticated %}
        <p><a data-counter="counter{{ photo.pk }}" onclick="removePhoto(event)" href="{% url "photos:remove_photo" photo.id %}"><i class="fas fa-heart"></i></a></p>
    {% else %}
        <p><a data-counter="counter{{ photo.pk }}" onclick="addPhoto(event)" href="{% url "photos:add_photo"  photo.id %}"><i class="far fa-heart"></i></a></p>
    {% endif %}
    <p id="counter{{ photo.pk }}">{{ photo.PhotoUser.count }}</p>



              </div>
              <div class="card-body text-dark">
                <h5 class="card-title"></h5>
                    <img class="avatar" src="{{ photo.photo.url }}" width="250" height="250" alt="photos">
              </div>
            </div>
        {% endfor %}
    </div>

    <script>


async function makeRequest(url, method='GET') {
        let response = await fetch(url, {method});
            if (response.ok) {  // нормальный ответ
                let resp = await response.json();
            return resp
            }
            else {            // ошибка
            let error = new Error(response.statusText);
            error.response = response;
            throw error;
            }
        }

        addPhoto = async (event)=>{
            event.preventDefault()
            let currentTarget = event.currentTarget
            let current_url = currentTarget.href
            try{
                 let result = await makeRequest(current_url)
                currentTarget.innerHTML = '<i class="fas fa-heart"></i>'
                currentTarget.setAttribute('href', current_url.replace('add_photo', "remove_photo"))
                currentTarget.onclick = removePhoto
                let id = currentTarget.dataset.counter
                let counter = document.getElementById(id)
                counter.innerText = result
            }
            catch (error){
                console.log(error);
            }
        }

        removePhoto = async (event) => {
            event.preventDefault()
            let currentTarget = event.currentTarget
            let current_url = currentTarget.href
            try {
                let result = await makeRequest(current_url)
                currentTarget.innerHTML = '<i class="far fa-heart"></i>'
                currentTarget.setAttribute('href', current_url.replace('remove_photo', 'add_photo'))
                currentTarget.onclick = addPhoto
                let id = currentTarget.dataset.counter
                let counter = document.getElementById(id)
                counter.innerText = result
            }
            catch (error) {
                console.log(error);
            }
        }

        if (!!window.performance && window.performance.navigation.type === 2) {
            // value 2 means "The page was accessed by navigating into the history"
            console.log('Reloading');
            window.location.reload(); // reload whole page

        }

    </script>

{% endblock %}

