{% extends 'base.html' %}
{% block menu %}
    <li><a href="{% url 'photos:photo_add' %}">Add Photo</a></li>
{% endblock %}



{% block content %}




    <div class=".bg-light">
        <h1 class="main_title">Photos</h1>

        {% for photo in photos %}
            <div class="guest_card card border-dark mb-5" style="max-width: 18rem;">
              <div class="card-header">

                  <span>Подпись фото: <a href="{% url 'photos:photo_view' photo.pk %}">{{ photo.sign }}</a></span>
                  <div> Автор: {{ photo.author_photo }}</div>
                  <div> Дата: {{ photo.created_at }}</div>


              </div>
              <div class="card-body text-dark">
                <h5 class="card-title"></h5>
                    <img class="avatar" src="{{ photo.photo.url }}" width="250" height="250" alt="photos">
              </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}