{% extends 'base.html' %}


{% block menu %}
    {% if user.is_authenticated %}
    <li><a href="{% url 'photos:photo_add' %}">Add Photo</a></li>
    {% endif %}
    {% if perms.webapp.change_photo and user.is_autheticated %}
    <li><a href="{% url 'photos:photo_update' photo.id %}">Photo update</a></li>
    {% endif %}
    {% if perms.webapp.delete_photo and user.is_autheticated %}
    <li><a href="{% url 'photos:photo_delete' photo.id %}">Delete photo</a></li>
    {% endif %}
{% endblock menu %}

{% block title %}{{ photo.sign }}{% endblock %}



<{% block content %}



<div class="guest_card card border-dark mb-5" style="max-width: 18rem;">
              <div class="card-header">

                  <span>Подпись фото: {{ photo.sign }}</span>
                  <div> Автор: {{ photo.author_photo }}</div>
                  <div> Дата: {{ photo.created_at }}</div>
                  <div> альбом {{ photo.album }}</div>

              </div>
              <div class="card-body text-dark">
                <h5 class="card-title"></h5>
                    <img class="avatar" src="{{ photo.photo.url }}" width="250" height="250" alt="photos">
              </div>
            </div>
{% endblock %}

