{% extends 'base.html' %}


{% block menu %}
    <li><a href="{% url 'photos:album_delete' album.id %}">Delete album</a></li>
{% endblock menu %}

{% block title %}{{ album.name }}{% endblock %}



<{% block content %}




<div class="guest_card card border-dark mb-5" style="max-width: 18rem;">
              <div class="card-header">

                  <span>Название альбома: {{ album.name }}</span>
                  <div> Автор: {{ album.author_album }}</div>
                  <div> Дата: {{ album.created_at }}</div>
                  <div>Описание: {{ album.description }}</div>


              </div>
                <h3>Фото этого альбома</h3>
                {% for photo in album.photos.all %}
                <div class="guest_card card border-dark mb-5" style="max-width: 18rem;">
                    <div class="card-header">
                    <span>Подпись фото: <a href="{% url 'photos:photo_view' photo.pk %}">{{ photo.sign }}</a></span>
                  <div> Автор: {{ photo.author_photo }}</div>
                  <div> Дата: {{ photo.created_at }}</div>
                  </div>
                  <div class="card-body text-dark">
                    <h5 class="card-title"></h5>
                  </div>
                </div>
                {% endfor %}
            </div>
{% endblock %}

