{% extends 'base.html' %}


{% block menu %}
    {% if perms.webapp.delete_album and user.is_autheticated %}
    <li><a href="{% url 'photos:album_delete' album.id %}">Delete album</a></li>
    {% endif %}
    {% if perms.webapp.change_album and user.is_autheticated %}
    <li><a href="{% url 'photos:album_update' album.id %}">Album update</a></li>
    {% endif %}
{% endblock menu %}

{% block title %}{{ album.name }}{% endblock %}



<{% block content %}



{% if user.is_authenticated %}
<div class="guest_card card border-dark mb-5" style="max-width: 18rem;">
              <div class="card-header">

                  <span>Название альбома: {{ album.name }}</span>
                  <div> Автор: {{ album.author_album }}</div>
                  <div> Дата: {{ album.created_at }}</div>
                  <div>Описание: {{ album.description }}</div>

{% if album.pk in favorite_albums and user.is_authenticated %}
<p><a data-counter="counter{{ album.pk }}" onclick="removeAlbum(event)" href="{% url "photos:remove_album" album.id %}"><i class="fas fa-heart"></i></a></p>
{% else %}
<p><a data-counter="counter{{ album.pk }}" onclick="addAlbum(event)" href="{% url "photos:add_album"  album.id %}"><i class="far fa-heart"></i></a></p>
{% endif %}
<p id="counter{{ album.pk }}">{{ album.AlbumUser.count }}</p>


              </div>
                <h3>Фото этого альбома</h3>
                {% for photo in album.photos.all %}
                <div class="guest_card card border-dark mb-5" style="max-width: 18rem;">
                    <div class="card-header">
                    <span>Подпись фото: <a href="{% url 'photos:photo_view' photo.pk %}">{{ photo.sign }}</a></span>
                  <div> Автор: {{ photo.author_photo }}</div>
                  <div> Дата: {{ photo.created_at }}</div>

                        <div> Добавить/убрать из избранного </div>
    {% if photo.pk in favorite_photos and user.is_authenticated %}
        <p><a data-counter="counter{{ photo.pk }}" onclick="removePhoto(event)" href="{% url "photos:remove_photo" photo.id %}"><i class="fas fa-heart"></i></a></p>
    {% else %}
        <p><a data-counter="counter{{ photo.pk }}" onclick="addPhoto(event)" href="{% url "photos:add_photo"  photo.id %}"><i class="far fa-heart"></i></a></p>
    {% endif %}
    <p id="counter{{ photo.pk }}">{{ photo.PhotoUser.count }}</p>

                  </div>
                  <div class="card-body text-dark">
                    <h5 class="card-title"></h5>
                  </div>
                </div>
                {% endfor %}
            </div>
    {% endif %}


    <script>

async function makeRequest(url, method='GET') {
        let response = await fetch(url, {method});
            if (response.ok) {  // нормальный ответ
                let resp = await response.json();
            return resp
            }
            else {            // ошибка
            let error = new Error(response.statusText);
            error.response = response;
            throw error;
            }
        }

        addAlbum = async (event)=>{
            event.preventDefault()
            let currentTarget = event.currentTarget
            let current_url = currentTarget.href
            try{
                 let result = await makeRequest(current_url)
                currentTarget.innerHTML = '<i class="fas fa-heart"></i>'
                currentTarget.setAttribute('href', current_url.replace('add_album', "remove_album"))
                currentTarget.onclick = removeAlbum
                let id = currentTarget.dataset.counter
                let counter = document.getElementById(id)
                counter.innerText = result
            }
            catch (error){
                console.log(error);
            }
        }

        removeAlbum = async (event) => {
            event.preventDefault()
            let currentTarget = event.currentTarget
            let current_url = currentTarget.href
            try {
                let result = await makeRequest(current_url)
                currentTarget.innerHTML = '<i class="far fa-heart"></i>'
                currentTarget.setAttribute('href', current_url.replace('remove_album', 'add_album'))
                currentTarget.onclick = addAlbum
                let id = currentTarget.dataset.counter
                let counter = document.getElementById(id)
                counter.innerText = result
            }
            catch (error) {
                console.log(error);
            }
        }

addPhoto = async (event)=>{
            event.preventDefault()
            let currentTarget = event.currentTarget
            let current_url = currentTarget.href
            try{
                 let result = await makeRequest(current_url)
                currentTarget.innerHTML = '<i class="fas fa-heart"></i>'
                currentTarget.setAttribute('href', current_url.replace('add_photo', "remove_photo"))
                currentTarget.onclick = removePhoto
                let id = currentTarget.dataset.counter
                let counter = document.getElementById(id)
                counter.innerText = result
            }
            catch (error){
                console.log(error);
            }
        }

        removePhoto = async (event) => {
            event.preventDefault()
            let currentTarget = event.currentTarget
            let current_url = currentTarget.href
            try {
                let result = await makeRequest(current_url)
                currentTarget.innerHTML = '<i class="far fa-heart"></i>'
                currentTarget.setAttribute('href', current_url.replace('remove_photo', 'add_photo'))
                currentTarget.onclick = addPhoto
                let id = currentTarget.dataset.counter
                let counter = document.getElementById(id)
                counter.innerText = result
            }
            catch (error) {
                console.log(error);
            }
        }

        if (!!window.performance && window.performance.navigation.type === 2) {
            // value 2 means "The page was accessed by navigating into the history"
            console.log('Reloading');
            window.location.reload(); // reload whole page

        }

    if (!!window.performance && window.performance.navigation.type === 2) {
            // value 2 means "The page was accessed by navigating into the history"
            console.log('Reloading');
            window.location.reload(); // reload whole page

        }
    </script>

{% endblock %}

